body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 768px) {/* 768px以下*/
  .search-box{
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {/* 768px以下*/
  .dropdown-menu{
    min-width: 6rem;
    text-align: center;
  }

}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #000;
}

.list-group-item {
  border-color: #000;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}



//index

.index-title{
  margin-bottom: 40px;
}

.index-community-title{
  margin-bottom: 15px;
}

.index-news-title{
  margin-bottom: 15px;
}

.create-new{
  margin-bottom: 20px;
}

.index-community{
  margin-bottom: 60px;
}

h3 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #000;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #c6190b;/*左線*/
}

.create-new{
  margin-bottom: 30px;
}

.admin-nav a {
  font-size: 16px;
}

.admin-navbar-logo a{
  font-size: 20px;
  font-weight: bold;
}

.title {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #000;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #c6190b;/*左線*/
  margin-bottom:40px;
}

.form-group {
  margin-bottom:30px;
}

.label-title {
  font-weight: bold;
  font-size:15px;
}
 i {
   margin-right:2px;
 }

.navbar-toggler-icon {
   width: 1.2em;
   height: 1.2em;
}

.navbar-toggler {
   padding: 0.25rem 0.5rem;
}

.attention {
  margin-bottom:0;
}

.admin-btn {
  width:100px;
  height:45px;
  font-size:16px;
}
