//文字のレスポンシブ
html{
    font-size: 62.5%;
}
body{
    color: #000;
    font-size:1.6rem;/* 16px*/
    line-height: 1.9;
    margin: 0;
}
h1 {
    font-size: 36px;/* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));/* 24px~36pxで可変*/
    line-height: 1.3;
}
h2 {
    font-size: 24px;/* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));/* 20px~24pxで可変*/
    line-height: 1.3;
}

@media screen and (min-width:1450px) {
  h1 {
      font-size: 8rem;
  }
}

@media (min-width: 1200px) and (max-width: 1450px){/* 1200px以上*/
    h1 {
        font-size: 7rem;/* 36px*/
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 3.8rem;/* 24px*/
    }
}


@media screen and (max-width: 600px) {/* 640px以下*/
    body{
    line-height: 1.9;
    }
    h1{
        font-size: 2.2rem;/* 24px*/
    }
    h2 {
        font-size: 2.6rem;/* 20px*/
    }
    p{
      font-size:95%;
    }
    .section-text{
      padding-top: 0.6rem;
    }
    .news-image img{
      height: 80px;
      width: 130px;
      object-fit: cover;
    }
    .news-image{
      width: 150px;
      padding-left: 10px;
    }
    .search-text-container {
      padding-left: 10px;
    }
    .top{
      margin-bottom:30px;
    }
    .section4-news-title{
      margin-top:6px;
    }
    .section-text{
      width:95%;
    }
}
@media screen and (min-width: 600px) {/* 640px以上*/
  .news-image img{
    height: 80px;
    width: 130px;
    object-fit: cover;
  }
  .news-image{
    text-align:center;
    width: 180px;
    padding-left: 20px;
  }
  .search-text-container {
    padding-left: 10px;
  }

  .top{
    margin-bottom:40px;
  }
  .section-text{
    width:90%;
  }
  .pref {
    width:90%;
  }
  .top{
    width: 100%;
  }
}

@media screen and (min-width:600px) and ( max-width:960px) {
  h1 {
      font-size: 4rem;
  }

  h2 {
      font-size: 3rem;
  }
}

@media screen and (min-width:960px) and ( max-width:1200px) {
  h1 {
      font-size: 6rem;
  }

  h2 {
      font-size: 3rem;
  }
}

@media screen and (max-width:992px) {
  .section1-link{
      margin-bottom: 25px;
  }
  .title {
    font-size:13px;
  }
}

@media screen and (min-width:992px) {
  .section2 p{
    margin-bottom:0;
  }
  .title {
    font-size:1.5rem;
  }
}

.section-text{
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width:850px) and (max-width:992px) {
  .toppage-video {
   padding-left:50px !important;
   padding-right:50px !important;
  }
}

@media screen and (min-width:768px) and (max-width:850px) {
  .toppage-video {
   padding-left:30px !important;
   padding-right:30px !important;
  }
}





//アイキャッチのビデオについて
.top-image{
  position: relative;
}

.top-image:before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.3);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

.top-image video{
  width: 100%;
  display: block;
}

.top-image img{
  width:39%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%,-9%);
  -webkit-transform: translate(-50%,-9%);
  transform: translate(-50%,-9%);
  margin:0;
  padding:0;
  }


.top-image h1{
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  top: 86%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  line-height: 1.1;
}



//間の空間
.section1{
  margin-bottom:70px;
}

.section2{
  margin-bottom:70px;
}

.section4{
  margin-bottom:70px;
}



//h2見出し　共通
.section-h2{
  text-align: center;
}

h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}
h2:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}


//section1
.section1-link{
  text-align: center;
  margin-top: 15px;
}

.section1-button{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.3em 1.0em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  vertical-align: middle;
}

.section1-button:hover {
  background: #00bcd4;
  color: white;
  text-decoration:none;
}

.image {
  text-align:center;
}

//section4

.section4-link{
  text-align: center;
  margin-top: 30px;
}

.section4-button{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.3em 1.0em;
  text-decoration: none;
  color: #3BAF75;
  background: #ECECEC;
  transition: .4s;
  vertical-align: middle;
}

.section4-button:hover {
  background: #3BAF75;
  color: white;
  text-decoration:none;
}

.post-wrapper {
  display: block;
  position: relative;
  margin-top: 8px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-left: 0;
  padding: 10px 0;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 1px 1px 0 #efefef;
  box-sizing: border-box;
  transition: .3s;
}

.post-wrapper:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

.ribbon16 {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 8px;
  box-sizing: border-box;
  padding: 0 12px;
  margin: 0;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: white;
  background: #90DAB5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}
.ribbon16:before {
  position: absolute;
  content: '';
  top: 0;
  right: -7px;
  border: none;
  height: 38px;
  width: 7px;
  background: #90DAB5;
  border-radius: 0 5px 5px 0;
}
.ribbon16:after {
  position: absolute;
  content: '';
  bottom: -7px;
  right: -5px;
  border: none;
  height: 7px;
  width: 5px;
  background: #69CD9B;
  border-radius: 0 5px 5px 0;
}

.title {
  line-height: 1.5
}

.posts {
  .post {
    .date {
      font-size: 0.7em;
      color: #999999;
    }
    .post-title{
      font-weight: bold;
      line-height: 1em;
      margin-bottom:12px;
    }
  }
}


hr.post-style{
   border-color: #000;
   border-style: dotted;
}

.post-link{
  text-decoration:none;
  color:#000;
}

a:hover{
　text-decoration: none;
}

.date p{
  margin-bottom: 0px;
}

.object-fit-img {
  object-fit: cover;
  font-family: 'object-fit: cover;'
}

.news-image{
  text-align:center;
}


.search-text-container {
  padding-right: 10px;
}

.caption{
  float:left;
}

.post{
  overflow: hidden;
  display: flex;
  align-items: center;
}


//section3
.pref-container{
  background-image: url('../img/map-japan.png');
  background-position:center bottom;                     /* 画像の表示位置を指定 */
  background-size:cover;
}

.section3-text{
  padding-bottom: 15px;
}

.pref a{
  text-decoration: none;
  color: #fff;
}


h3 {
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
}

.region{
  margin-bottom: 28px;
}

.region-name{
  margin-bottom: 8px;
}

.tohoku-btn {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #00a364;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
  height: 62px;
  line-height: 1;
}

.tohoku-btn:active {
    transform: translateY(4px);
    border-bottom: none;
}


.kanto-btn {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #90ba1e;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
  height: 62px;
  line-height: 1;
}

.kanto-btn:active {
    transform: translateY(4px);
    border-bottom: none;
}


.kanto-btn-tokyo {
  display: inline-block;
  max-width: 180px;
  height: 62px;
  text-align: center;
  background-color: #90ba1e;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
  line-height: 1;
}

.kanto-btn-tokyo:active {
    transform: translateY(4px);
    border-bottom: none;
}

.chubu-btn {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #e9ca0b;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #586365;
  margin-bottom: 7px;
  height: 62px;
  line-height: 1;
}

.chubu-btn:active {
    transform: translateY(4px);
    border-bottom: none;
}


.kansai-btn {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #e69600;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #1B435D;
  margin-bottom: 7px;
  height: 62px;
  line-height: 1;
}

.kansai-btn:active {
    transform: translateY(4px);
    border-bottom: none;
}


.chugoku-btn {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #ec6109;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #4C4C4C;
  margin-bottom: 7px;
  vertical-align :top;
  height: 62px;
  line-height: 1;
}

.chugoku-btn:active {
    transform: translateY(4px);
    border-bottom: none;
}


.shikoku-btn {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #e96f84;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
  height: 62px;
  line-height: 1;
}

.shikoku-btn:active {
    transform: translateY(4px);
    border-bottom: none;
}


.kyushu-okinawa-btn {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #624b94;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #383838;
  margin-bottom: 7px;
  height: 62px;
  line-height: 1;
}

.kyushu-okinawa-btn:active {
    transform: translateY(4px);
    border-bottom: none;
}

.pref-btn1{

}

.pref-btn2{
  font-size: 15px;
  text-align: left;
}

hr.style{
   border-color: #fff;
}

.date {
  font-weight: bold;
}

.date i {
  padding-right: 3px;
}




/* LOADING */
#loader-bg {
  background: #ffffff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#loader {
  height: 133px;
  left: 50%;
  margin-left: -75px;
  margin-top: -66.5px;
  position: fixed;
  top: 50%;
  width: 150px;
}
#loader p {
    color: #454545;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    font-weight: bold;
}
#loader p img {
    display: inline-block;
}

#loader img {
    width: 105px;
    height:105px;
}
