@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-size: 1.6rem;
  /* 16px*/
  line-height: 2;
  margin: 0;
}

p {
  margin-bottom: 0;
}

h1 {
  font-size: 36px;
  /* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));
  /* 24px~36pxで可変*/
  line-height: 1.3;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  /* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
  /* 20px~24pxで可変*/
  line-height: 1.3;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 4.6rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2rem;
  }

  .japancommunities-title p {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 600px) {
  /* 640px以下*/

  body {
    line-height: 2;
  }

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  .section-text {
    padding-top: 0.6rem;
  }

  .search-text-container {
    padding-left: 10px;
  }

  .top {
    margin-bottom: 30px;
  }

  .japancommunities-title p {
    font-size: 2.6rem;
  }
}

.eyecatch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.eyecatch img {
  width: 100%;
}

.title {
  margin: 1.2em 0;
  padding-left: 0;
}

.title h1 {
  text-align: center;
}

.eyecatch {
  margin-bottom: 40px;
}

.section1,
.section2,
.section3,
.section4,
.section5 {
  margin-bottom: 80px;
}

.section-h3 {
  padding-bottom: 40px;
}

.section-h3-end {
  padding-bottom: 0px;
}

.video {
  margin-bottom: 20px;
  margin-top: 20px;
}

.video-end {
  margin-top: 20px;
}

.section-image {
  margin-top: 20px;
}

.section-text2 {
  margin-top: 3rem;
}

.section3-h3 {
  padding-top: 20px;
}

h1 {
  color: #000;
  /*文字色*/
  padding: 0.2em 0;
  /*上下の余白*/
  border-top: solid 3px #c6190b;
  /*上線*/
  border-bottom: solid 3px #c6190b;
  /*下線*/
}

h2 {
  padding: 0.25em 0.5em;
  /*上下 左右の余白*/
  color: #000;
  /*文字色*/
  background: transparent;
  /*背景透明に*/
  border-left: solid 5px #c6190b;
  /*左線*/
  margin-bottom: 0.5em;
}

h3 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px #c6190b;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.image-text p {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 40px;
}

.japancommunities-title {
  text-align: center;
  margin-top: 30px;
}

.japancommunities-title p {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.japancommunities-title p:before {
  content: '';
  position: absolute;
  bottom: -3px;
  display: inline-block;
  width: 60px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}

.pref-container {
  background-image: url(/images/map-japan.png?69ebb5291ff80459fdbbab40c55ea9b8);
  background-position: center bottom;
  /* 画像の表示位置を指定 */
  background-size: cover;
}

.section3-text {
  padding-bottom: 15px;
}

.pref a {
  text-decoration: none;
  color: #fff;
}

.pref {
  margin-top: 30px;
}

.region-name p {
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  font-size: 1.6rem;
}

.region {
  margin-bottom: 20px;
}

.region-name {
  margin-bottom: 8px;
}

.tohoku-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #00a364;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
}

.tohoku-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.kanto-btn {
  display: inline-block;
  max-width: 180px;
  text-align: center;
  background-color: #90ba1e;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
  vertical-align: top;
}

.kanto-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.kanto-btn-tokyo {
  display: inline-block;
  max-width: 180px;
  text-align: center;
  background-color: #90ba1e;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
  line-height: 1;
}

.kanto-btn-tokyo:active {
  transform: translateY(4px);
  border-bottom: none;
}

.chubu-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #e9ca0b;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #586365;
  margin-bottom: 7px;
}

.chubu-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.kansai-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #e69600;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #1B435D;
  margin-bottom: 7px;
}

.kansai-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.chugoku-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #ec6109;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #4C4C4C;
  margin-bottom: 7px;
}

.chugoku-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.shikoku-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #e96f84;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
}

.shikoku-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.kyushu-okinawa-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #624b94;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #383838;
  margin-bottom: 7px;
}

.kyushu-okinawa-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.pref-btn2 {
  font-size: 15px;
  text-align: left;
}

