@charset "UTF-8";

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #fff;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.index-title {
  margin-bottom: 40px;
}

.index-community-title {
  margin-bottom: 15px;
}

.index-news-title {
  margin-bottom: 15px;
}

.create-new {
  margin-bottom: 20px;
}

.search-box {
  margin-bottom: 10px;
}

.index-community {
  margin-bottom: 60px;
}

h3 {
  padding: 0.25em 0.5em;
  /*上下 左右の余白*/
  color: #fff;
  /*文字色*/
  background: transparent;
  /*背景透明に*/
  border-left: solid 5px #fff;
  /*左線*/
}

.create-new {
  margin-bottom: 30px;
}

.admin-nav a {
  font-size: 16px;
}

.admin-navbar-logo a {
  font-size: 20px;
  font-weight: bold;
}

