@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-size: 1.6rem;
  /* 16px*/
  line-height: 1.9;
  margin: 0;
}

h1 {
  font-size: 24px;
  /* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
  /* 20px~24pxで可変*/
  line-height: 1.3;
}

h2 {
  font-size: 24px;
  /* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
  /* 20px~24pxで可変*/
  line-height: 1.3;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2rem;
  }

  .japancommunities-title p {
    font-size: 3.8rem;
  }

  .title_box {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 7rem;
  }

  .title_box {
    height: 60vh;
  }

  .title_box {
    background-position: center center;
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  h1 {
    font-size: 4.6rem;
  }

  .title_box {
    background-position: center 30%;
  }
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 4.6rem;
  }

  .title_box {
    height: 35vh;
  }
}

@media screen and (max-width: 600px) {
  /* 600px以下*/

  body {
    line-height: 1.9;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  .section-text {
    padding-top: 0.6rem;
  }

  .search-text-container {
    padding-left: 10px;
  }

  .japancommunities-title p {
    font-size: 2.6rem;
  }

  p {
    font-size: 95%;
  }

  .title_box {
    margin-bottom: 30px;
  }

  .title_box {
    background-position: center 10%;
  }
}

@media screen and (max-width: 320px) {
  /* 640px以下*/

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.9rem;
  }
}

.title_box {
  background-image: url(/images/map-japan.png?69ebb5291ff80459fdbbab40c55ea9b8);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.title_box:before {
  /* 透過した黒を重ねる */
  background-color: rgba(0, 0, 0, 0.3);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.title_box h1 {
  color: #fff;
  font-weight: 700;
  z-index: 20;
}

.pref-container {
  background-image: url(/images/map-japan.png?69ebb5291ff80459fdbbab40c55ea9b8);
  background-position: center bottom;
  /* 画像の表示位置を指定 */
  background-size: cover;
}

.section3-text {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 15px;
}

.pref a {
  text-decoration: none;
  color: #fff;
}

.region-name p {
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
}

.region {
  margin-bottom: 20px;
}

.region-name {
  margin-bottom: 8px;
}

.tohoku-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #00a364;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
}

.tohoku-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.kanto-btn {
  display: inline-block;
  max-width: 180px;
  text-align: center;
  background-color: #90ba1e;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
  vertical-align: top;
}

.kanto-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.kanto-btn-tokyo {
  display: inline-block;
  max-width: 180px;
  max-height: 62px;
  text-align: center;
  background-color: #90ba1e;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
  line-height: 1;
}

.kanto-btn-tokyo:active {
  transform: translateY(4px);
  border-bottom: none;
}

.chubu-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #e9ca0b;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #586365;
  margin-bottom: 7px;
}

.chubu-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.kansai-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #e69600;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #1B435D;
  margin-bottom: 7px;
}

.kansai-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.chugoku-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #ec6109;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #4C4C4C;
  margin-bottom: 7px;
}

.chugoku-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.shikoku-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #e96f84;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #757575;
  margin-bottom: 7px;
}

.shikoku-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.kyushu-okinawa-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #624b94;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 4px solid #383838;
  margin-bottom: 7px;
}

.kyushu-okinawa-btn:active {
  transform: translateY(4px);
  border-bottom: none;
}

.pref-btn2 {
  font-size: 15px;
  text-align: left;
}

hr.style {
  border-color: #fff;
}

.pref {
  margin-bottom: 50px;
}

