@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-size: 1.6rem;
  /* 16px*/
  line-height: 2;
}

h1 {
  font-size: 36px;
  /* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));
  /* 24px~36pxで可変*/
  line-height: 1.3;
}

h2 {
  font-size: 24px;
  /* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
  /* 20px~24pxで可変*/
  line-height: 1.3;
}

@media (min-width: 1200px) {
  /* 1200px以上*/

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 640px) {
  /* 640以上*/

  .image img {
    height: 150px;
    width: 250px;
  }

  .indexnews-title h2 {
    font-size: 38px;
  }

  .image {
    width: 250px;
    padding-left: 20px;
  }

  .search-text-container {
    padding-left: 20px;
  }
}

@media screen and (max-width: 640px) {
  /* 640px以下*/

  body {
    line-height: 2;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .page-title p {
    font-size: 1.6rem;
  }

  .post-title p {
    font-size: 1.6rem;
  }

  .image img {
    height: 100px;
    width: 150px;
  }

  .image {
    width: 150px;
    padding-left: 10px;
  }

  .indexnews-title h2 {
    font-size: 28px;
  }

  .search-text-container {
    padding-left: 10px;
  }
}

hr.search-title-style {
  border: solid 1px #000;
  margin-bottom: 25px;
}

.image img {
  -o-object-fit: cover;
     object-fit: cover;
}

hr.style {
  border-color: #fff;
  margin-bottom: 25px;
}

.search-text-container {
  display: flex;
  align-items: center;
}

.posts {
  margin-bottom: 40px;
}

.posts .post .date {
  font-size: 0.7em;
  color: #999999;
}

.posts .post .post-title {
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 12px;
}

.post-wrapper {
  display: block;
  position: relative;
  margin-top: 8px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-left: 0;
  padding: 10px 0;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 1px 1px 0 #efefef;
  box-sizing: border-box;
  transition: .3s;
}

.post-wrapper:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

.post-container {
  transition: .3s;
}

.post-container:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

hr.post-style {
  border-color: #000;
  border-style: dotted;
}

.post-link {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

.date p {
  margin-bottom: 0px;
}

.date i {
  margin-right: 3px;
}

.object-fit-img {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: 'object-fit: contain;';
}

.image {
  text-align: center;
}

.search-text-container {
  padding-right: 10px;
}

.caption {
  float: left;
}

.post {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.name {
  line-height: 1;
}

.pref {
  line-height: 0.4;
  padding-bottom: 5px;
}

.indexnews-title {
  text-align: center;
}

.indexnews-title h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.indexnews-title h2:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}

